<c-card>
  <c-card-body>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit Department</h4>
          </div>
          <c-row class="g-3">
            <c-col [xs]="6">
              <label cLabel> Department name </label>
              <input cFormControl type="text" [(ngModel)]="text.departmentName" id="departmentname"
                name="departmentname" required>
            </c-col>
            <c-col [xs]="6">
              <label cLabel> Status </label>
              <select aria-label="Default select example" [(ngModel)]="text.status" cSelect id="status" name="status"
                required>
                <option>select ...</option>
                <option>Active</option>
                <option>Deactivate</option>
                <option>Hold</option>
              </select>

            </c-col>

            <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="onEditdata()">
                Submit
              </button>
              <button type="button" class="btn btn-danger" (click)="closePopup()">
                Close
              </button>
            </div>

          </c-row>
        </div>
      </div>
    </div>

    <c-row>
      <c-col [xs]="9">
        <button (click)="toggleLiveDemo()" cButton>+ Add Department</button>&nbsp;
        <button class="primary" (click)="generateReport()" cButton> <img src="assets/img/excel.png" width="25"
            height="25"></button>
      </c-col>
      <c-col [xs]="3">
        <div class="search-department">
          <input cFormControl type="text" name="serach" [(ngModel)]="searchDepartment" placeholder="search">
        </div>
      </c-col>
    </c-row><br>
    <table datatable cTable>
      <thead cTableColor="dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col"> Name</th>
          <th scope="col">status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departments| filter:searchDepartment">
          <th scope="row">{{ department.departmentId}}</th>
          <td>{{ department.departmentName }}</td>
          <td>{{ department.status }}</td>
          <td><button cButton color="warning" (click)="openPopup(department)">
              <img src="assets/img/edit2.png" width="18" height="18"></button>&nbsp;
            <button cButton color="danger" class="btn-delete" (click)="deleteItem(department)">
              <img src="assets/img/delete2.png" width="18" height="18"></button> &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
    <c-pagination aria-label="Page navigation example">
      <li cPageItem>
        <a cPageLink [routerLink]>Previous</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>1</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>2</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>3</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>Next</a>
      </li>
    </c-pagination>

    <c-modal id="liveDemoModal" [visible]="visible" alignment="center" (visibleChange)="handleLiveDemoChange($event)">
      <c-modal-header>
        <h5 cModalTitle>Add Department</h5>
        <button (click)="toggleLiveDemo()" cButtonClose></button>
      </c-modal-header>

      <c-card-body>
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
          <c-row class="g-3">
            <c-col [xs]="6">
              <div class="form-group">
                <label cLabel> Department name </label>
                <input cFormControl type="text" [(ngModel)]="department.departmentName" id="departmentname"
                  name="departmentname" required>
              </div>
            </c-col>
            <c-col [xs]="6">
              <div class="form-group">
                <label cLabel> Status </label>
                <select aria-label="Default select example" [(ngModel)]="department.status" cSelect id="status"
                  name="status" required>
                  <option>select ...</option>
                  <option>Active</option>
                  <option>Deactivate</option>
                  <option>Hold</option>
                </select>
              </div>
            </c-col>

          </c-row>
          <c-modal-footer>
            <button class="btn btn-success" type="submit" [disabled]="isSubmitting">Submit</button>
            <button class="btn btn-warning" type="reset" ejs-button>Reset</button>

          </c-modal-footer>
        </form>
      </c-card-body>
    </c-modal>
  </c-card-body>
</c-card>
