<div class="fade-in">
  <c-row>
    <c-toaster class="p-3" position="fixed"></c-toaster>
    <c-col xs="10">
      <c-card class="mb-6">
        <c-card-header>
          <strong>Create Gate pass</strong>
        </c-card-header>
        <c-card-body>
          <form (ngSubmit)="onSubmit()" ngNativeValidate>
            <c-col [xs]="6">

              <c-input-group class="g-3">
                <span cInputGroupText id="basic-addon1">Employee Number</span>
                <input aria-label="empname" cFormControl type="text" [(ngModel)]="searchText" name="searchText"
                  id="searchText" placement="right" (keyup.enter)="searchEmploy()" />
                <button cButton (click)="searchEmploy()" class="cil-search" color="primary">Search</button>

              </c-input-group>
            </c-col>
            <hr>
            <c-row class="g-3">
              <c-col [xs]="6">
                <label cLabel> Employee Number <span class="text-danger">*</span></label>
                <input cFormControl disabled type="text" [(ngModel)]="employee.employeeId" id="employeeId"
                  name="employeeId" required>
              </c-col>
              <c-col [xs]="6">
                <label cLabel> Employee Name <span class="text-danger">*</span></label>
                <input cFormControl disabled type="text" [(ngModel)]="employee.employeeName" id="employeeName"
                  name="employeeName" required>
              </c-col>
            </c-row>

            <c-row class="g-3">
              <c-col [xs]="6">
                <label cLabel> Department <span class="text-danger">*</span></label>
                <input cFormControl disabled type="text" [(ngModel)]="employee.departmentName" id="departmentName"
                  name="departmentName" required>
              </c-col>
              <c-col [xs]="6">
                <label cLabel> Gate Pass Date <span class="text-danger">*</span></label>
                <input cFormControl type="date" class="form-control text-center"
                  [(ngModel)]="personalgatepass.personalgatepassDate" id="personalgatepassDate"
                  name="personalgatepassDate" required>
              </c-col>
            </c-row>
            <c-row class="g-3">
              <c-col [xs]="6">
                <label cLabel> gate pass type <span class="text-danger">*</span></label>
                <select aria-label="Default select example" cSelect [(ngModel)]="personalgatepass.personalgatepassType"
                  id="personalgatepassType" name="personalgatepassType" required>
                  <option><Select></Select>Select type..</option>
                  <option>Personal</option>
                  <option>Official</option>
                </select>
              </c-col>
              <c-col [xs]="6">
                <label cLabel> Purpose <span class="text-danger">*</span></label>
                <textarea cFormControl rows="3" [(ngModel)]="personalgatepass.purpose" id="purpose" name="purpose"
                  required></textarea>
              </c-col>
            </c-row>
            <hr />
            <c-row class="g-6">
              <c-col class="d-flex justify-content-end">
                <button cButton (click)="savePersonalgatepass()" [disabled]="" class="me-1">Apply</button>
                <button cButton color="danger">Clear</button>
              </c-col>
            </c-row>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
