<c-row>
  <c-toaster class="p-3" position="fixed"></c-toaster>
  <c-col xs="100">
      <c-card class="mb-6">
          <c-card-header>
              <strong>Reset Password</strong>
          </c-card-header>
          <c-card-body>
              <form cForm>

                  <c-col [xs]="6">
                      <c-input-group class="g-1">
                          <span cInputGroupText id="basic-addon1">Employee Number</span>
                          <input aria-label="empname" cFormControl type="text" placeholder="">
                          <button cButton class="cil-search" color="primary">Search</button>
                          <!-- <svg cIcon class="me-1" name="cil-search"></svg> -->
                      </c-input-group>
                  </c-col>
                  <hr>
                  <c-row class="g-3">
                      <c-col [xs]="4">
                          <label cLabel> Employee Number </label>
                          <input cFormControl disabled     type="text">
                      </c-col>
                      <c-col [xs]="4">
                          <label cLabel> Employee Name </label>
                          <input cFormControl disabled     type="text">
                      </c-col>
                      <c-col [xs]="4">
                          <label cLabel> Department </label>
                          <input cFormControl disabled     type="text">
                      </c-col>
                  </c-row>
                  <hr>
                  <c-row class="g-4 text-align:center" >


                      <!-- </c-row><br> -->
                      <label cFormCheckLabel for="checkOne">Meal Type:</label>
                      <!-- <c-row class="g-3"> -->
                      <c-col [xs]="12">

                        <c-col [xs]="4">
                          <label cLabel> Status </label>
                          <select aria-label="Default select example" cSelect>
                            <option>select ...</option>
                            <option value="1">Breakfast</option>
                            <option value="2">Lunch</option>

                          </select>
                        </c-col><br><br>
                          <c-form-check [inline]="true">

                              <!-- <label cFormCheckLabel for="checkTwo">Veg</label>&nbsp;&nbsp; -->
                              <button cButton color=""><img src="assets/img/veg.png" height="200" class="w-8 rounded-4 shadow-5" alt="" /></button>
                          </c-form-check>
                          <c-form-check [inline]="true">

                              <!-- <label cFormCheckLabel for="checkTwo">Meat</label>&nbsp;&nbsp; -->
                              <button cButton color=""> <img src="assets/img/meat.png" height="200" class="w-8 rounded-4 shadow-5" alt="" /></button>
                          </c-form-check>

                          <c-form-check [inline]="true">

                              <!-- <label cFormCheckLabel for="checkTwo">Fish</label>&nbsp;&nbsp; -->
                              <button cButton color=""> <img src="assets/img/fish.png" height="200" class="w-8 rounded-4 shadow-5" alt="" /></button>
                          </c-form-check>
                          <c-form-check [inline]="true">

                              <!-- <label cFormCheckLabel for="checkTwo">Egg</label>&nbsp;&nbsp; -->
                              <button cButton color=""><img src="assets/img/egg.png" height="200" class="w-8 rounded-4 shadow-5" alt="" /></button>
                          </c-form-check>
                      </c-col>

                  </c-row><br>

                  <c-row class="g-6">
                      <c-col class="d-flex justify-content-end">
                          <button cButton class="me-1">Generate</button>
                          <button cButton color="danger">Clear</button>
                      </c-col>
                  </c-row>

              </form>
          </c-card-body>
      </c-card>
  </c-col>
</c-row>
