<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="card card-stats">
          <div class="card-header card-header-warning  text-white bg-success card-header-icon">
            <div class="card-icon">

            </div>
            <h5 cCardTitle>Employee</h5>
            <!-- <h3 class="card-title">{{ recordCount }}

            </h3> -->
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon text-white bg-info">


            <h5 class="card-title">Visitor</h5>


            <h3 class="card-title">20</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon text-white bg-warning">


            <h5 class="card-title">Absent</h5>


            <h3 class="card-title">9</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon text-white bg-danger">

            <h5 class="card-title">Lunch Order</h5>


            <h3 class="card-title">20</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div><br>

<div class="card  text-primary">
  <div class="card-body">






    <c-row>
      <c-col [sm]="6">
        <c-card class="mb-4">
          <c-card-body>
            <div>
              <div class="card-body" style="width:400px" style="height:350px">
                <table style="width:30%" style="height:200px" class="graph">
                  <caption>Employee Attendance</caption>
                  <thead>
                    <tr>
                      <th scope="col">Item</th>
                      <th scope="col">Percent</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="height:85%">
                      <th scope="row">Sunday</th>
                      <td><span>85%</span></td>
                    </tr>
                    <tr style="height:92%">
                      <th scope="row">Monday</th>
                      <td><span>92%</span></td>
                    </tr>
                    <tr style="height:70%">
                      <th scope="row">Tuesday</th>
                      <td><span>70%</span></td>
                    </tr>
                    <tr style="height:38%">
                      <th scope="row">Wdnesday</th>
                      <td><span>88%</span></td>
                    </tr>
                    <tr style="height:35%">
                      <th scope="row">Friday</th>
                      <td><span>65%</span></td>
                    </tr>
                    <tr style="height:30%">
                      <th scope="row">Sunday</th>
                      <td><span>50%</span></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </c-card-body>
        </c-card>

      </c-col>
      <c-col [sm]="4">
        <c-card class="mb-4">

            <figure class="pie-chart">
              <h5>World electricity generation by source</h5>
              <figcaption>مربی 38<span style="color:#4e79a7"></span><br>مدرس ارشد
                23<span style="color:#f28e2c"></span><br>مدرس خبره 16<span style="color:#e15759">
                </span></figcaption>
              <cite>International Energy Agency</cite>
            </figure>


        </c-card>
      </c-col>
    </c-row>
  </div>

</div>
